[submodule "DynaMind"]
	path = DynaMind
	url = git@github.com:iut-ibk/DynaMind.git
[submodule "DynaMind-Gui"]
	path = DynaMind-Gui
	url = git@github.com:iut-ibk/DynaMind-Gui.git
[submodule "DynaMind-BasicModules"]
	path = DynaMind-BasicModules
	url = git@github.com:iut-ibk/DynaMind-BasicModules.git
[submodule "P8Modules"]
	path = P8Modules
	url = git@github.com:iut-ibk/P8Modules.git
[submodule "DynaMind-CityBlocks"]
	path = DynaMind-CityBlocks
	url = git@github.com:christianurich/DynaMind-CityBlocks.git
[submodule "UrbanBEATS"]
	path = UrbanBEATS
	url = git@github.com:petermbach/UrbanBEATS.git
